@import "../../assets/styles/globals.scss";

.circul {
  position: absolute;
  top: 480px;
  left: 50%;
  translate: -50% -50%;
  width: 532px;
  height: 532px;
  outline: 1px solid $color-main;
  border-radius: 50%;
}
