@import "./assets/styles/globals.scss";

.horizontal-line {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 480px;
  left: 0;
  transform: translateY(-50%);
  background-color: $color-border;

  @media (max-width: 480px) {
    top: 293px;
    left: 20px;
    width: calc(100% - 40px);
  }
}

.vertical-line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-border;

  @media (max-width: 480px) {
    display: none;
  }
}
