@import "../node_modules/normalize-scss/sass/normalize/import-now";
@import "./assets/styles/globals.scss";

@font-face {
  font-family: "PTSans";
  src:
    local("PTSansRegular"),
    url("./assets/fonts/PTSansRegular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src:
    local("PTSansBold"),
    url("./assets/fonts/PTSansBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src:
    local("BebasNeueRegula"),
    url("./assets/fonts/BebasNeueRegular.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "PTSans", "BebasNeue", sans-serif;
  background-color: #f4f5f9;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  height: 1080px;
  margin: 0 auto;
  padding: 170px 160px 104px 78px;
  border-right: 1px solid $color-border;
  border-left: 1px solid $color-border;
  background-color: #f4f5f9;

  @media (max-width: 480px) {
    padding: 59px 20px 32px;
    border: none;
    height: 568px;
  }
}
