@import "../../../assets/styles/globals.scss";

.wrapper {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 260px;
  left: 260px;
  cursor: pointer;

  .dot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    translate: -50% -50%;
    font-size: 14px;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 100px;
    transition: all 0.1s ease-in-out;
    background-color: white;
  }

  &:hover .dot {
    width: 45px;
    height: 45px;
    border: 1px solid black;
  }
}
